<ef-header></ef-header>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Generated Sequences</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" (click)="doClaimNew()">Claim New</button>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Filter data..." [(ngModel)]="filter" (keyup)="onKey()" (keyup.enter)="onEnter()">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="filterData()">Go!</button>
      </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>

  <div class="row spacer" *ngIf="totalPages > 0">
    <div class="col-md-12" >


      <table  class="table table-bordered">
        <tr>
          <th (click)="setOrderBy('sequenceNumber')">NO.</th>
          <th (click)="setOrderBy('byUser')">Submitted By</th>
          <th (click)="setOrderBy('purpose')">Purpose</th>
          <th (click)="setOrderBy('date')">Date</th>
        </tr>

        <tr *ngFor="let seq of sequenceList">
          <td><a href="#" (click)="doShowModal(seq.sequenceNumber)">{{seq.sequenceNumber}}</a></td>
          <td>{{seq.byUser}}</td>
          <td>{{seq.purpose}}</td>
          <td>{{seq.date}}</td>
        </tr>

      </table>
    </div>

  </div>
  <div class="row" *ngIf="totalPages > 0">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">Page {{page}} of {{totalPages}}</div>
    <div class="col-md-4 text-right">
        <ul class="pagination" style="margin: 0">
          <li>
            <a href="#" aria-label="Previous" (click)="previousPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li>
            <a href="#" aria-label="Next" (click)="nextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </div>
  </div>
  <div class="row" *ngIf="totalPages == 0">
    <div class="col-md-12 text-center">
      <span>Trenutno nema dokumenata za prikaz.</span>
    </div>
  </div>

  <ef-popup (onNewSequence)="onNewSequence($event)"></ef-popup>
</div> <!-- /container -->
